<!DOCTYPE html>
<html id="home" lang="en">
<head>
  <title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} &mdash; {{ site.description }} {% endif %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.70;">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="{{ site.description }}">
  
  <script>
    document.createElement('article');
    document.createElement('footer');
  </script>

  {% if site.highlighter %}
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/custom.css">
  {% endif %}
</head>
<body>

  <article>  

  {{ content }}

  </article>

  {% include footer.html %}

<script src="{{ site.url }}/assets/js/app.js"></script>
</body>
</html>



